Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [6]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# para rodar o chrome em 2º plano
# from selenium.webdriver.chrome.options import Options
# chrome_options = Options()
# chrome_options.headless = True # also works
# nav = webdriver.Chrome(options=chrome_options)

nav = webdriver.Chrome()

# pesquisar cotação dolar
nav.get("https://www.google.com/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

# pesquisar cotação dolar
nav.get("https://www.google.com/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

# pegar cotacao ouro
site = "https://www.melhorcambio.com/ouro-hoje"
nav.get(site)
cotacao_ouro = nav.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

nav.quit()

5.3667
6.533951883
324.66

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [7]:
import pandas as pd

tabela_produtos = pd.read_excel("produtos.xlsx")
display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [8]:
tabela_produtos.loc[tabela_produtos['Moeda']=="Dólar", "Cotação"] = float(cotacao_dolar)
tabela_produtos.loc[tabela_produtos['Moeda']=="Euro", "Cotação"] = float(cotacao_euro)
tabela_produtos.loc[tabela_produtos['Moeda']=="Ouro", "Cotação"] = float(cotacao_ouro)

tabela_produtos ['Preço Base Reais'] = tabela_produtos ['Cotação'] * tabela_produtos ['Preço Base Original']
tabela_produtos ['Preço Final'] = tabela_produtos ['Ajuste'] * tabela_produtos ['Preço Base Reais']

display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.366700,5366.646333,1.40,7513.304866
1,Carro Renault,4500.00,Euro,6.533952,29402.783473,2.00,58805.566947
2,Notebook Dell,899.99,Dólar,5.366700,4829.976333,1.70,8210.959766
3,IPhone,799.00,Dólar,5.366700,4287.993300,1.70,7289.588610
4,Carro Fiat,3000.00,Euro,6.533952,19601.855649,1.90,37243.525733
5,Celular Xiaomi,480.48,Dólar,5.366700,2578.592016,2.00,5157.184032
6,Joia 20g,20.00,Ouro,324.660000,6493.200000,1.15,7467.180000

### Agora vamos exportar a nova base de preços atualizada

In [10]:
tabela_produtos.to_excel("Produtos Atualizado_teste.xlsx", index=False)